name: lint

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - shell: sh
        run: |
          cd $(mktemp -d)
          wget -q https://github.com/joshdk/modfmt/releases/latest/download/modfmt-linux-amd64.tar.gz
          tar -xf modfmt-linux-amd64.tar.gz
          pwd >> $GITHUB_PATH

      - shell: sh
        run: |
          go mod tidy -diff
          modfmt -l -c ./...

      - uses: golangci/golangci-lint-action@v8
        with:
          # https://github.com/golangci/golangci-lint/releases/tag/v2.6.2
          version: v2.6.2
