name: lint

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - shell: sh
        run: |
          (cd $(mktemp -d) && go install github.com/joshdk/modfmt@master)
          go mod tidy -diff
          modfmt -l -c ./...

      - uses: golangci/golangci-lint-action@v8
        with:
          # https://github.com/golangci/golangci-lint/releases/tag/v2.5.0
          version: v2.5.0
